<section class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/slider_single_tour/detail-cover.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>Umroh Plus Wisata Turki 12D</h1>
          <span>Paket Umroh Wisata Turki 12 Hari. 3D Turki-7D Umroh</span>
          <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span>
        </div>
        <div class="col-md-4 col-sm-4">
          <div id="price_single_main">
            from/per pax <span><sup>IDR</sup>35 Jt</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->