<section id="hero">
  <div class="intro_title">
    <h3 class="animated fadeInDown">Beragam paket umroh menarik</h3>
    <p class="animated fadeInDown">Fasilitas dan pelayanan memuaskan</p>
    <a href="#" class="animated fadeInUp button_intro">Lihat Paket Umroh</a> <a href="#" class="animated fadeInUp button_intro outline">Lihat Paket Tours</a>
  </div>
</section>
<!-- End hero -->
