
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <div id="logo_home">
        <h1><a href="index.html" title="Sabat Travel">Sabat Travel</a></h1>
      </div>
    </div>
    <nav class="col-md-9 col-sm-9 col-xs-9">
      <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
      <div class="main-menu">
        <div id="header_menu">
          <img src="/assets/img/logo_sticky.png" width="160" height="34" alt="Sabat Travel" data-retina="true">
        </div>
        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
        <ul>
          <li><%= link_to('Home', controller: 'home',
                          action: 'index' ) %></li>
          <li class="submenu">
            <a href="javascript:void(0);" class="show-submenu">Paket Umroh <i class="icon-down-open-mini"></i></a>
            <ul>
              <li><a href="#">Umroh VIP</a></li>
              <li><a href="#">Umroh Plus Wisata</a></li>
              <li><a href="#">Umroh Reguler</a></li>
              <li><a href="#">Umroh Ekonomis</a></li>
              <li><a href="#">Halal Tours</a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);" class="show-submenu">Galeri <i class="icon-down-open-mini"></i></a><ul>
            <li><a href="#">Album Foto</a></li>
            <li><a href="#">Video</a></li>

          </ul>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);" class="show-submenu">Tentang kami <i class="icon-down-open-mini"></i></a>
            <ul>
              <li><a href="#">Profil Travel</a></li>
              <li><a href="#">Partnership</a></li>

            </ul>
          </li>
          <li class="submenu">
            <a href="#">Hubungi kami </a>

          </li>

        </ul>
      </div><!-- End main-menu -->




    </nav>
  </div>
</div><!-- container -->