<div class="white_bg">
  <div class="container margin_60">
    <div class="main_title">
      <h2>Mengapa menggunakan <span>Sabat Travel</span> </h2>
      <p>
        Sabat Travel memastikan keberangkatan umroh anda dengan kualitas pelayanan maksimal.
      </p>
    </div>
    <div class="row add_bottom_45">
      <div class="col-md-4 other_tours">
        <ul>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Kepastian jadwal keberangkatan</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-30"></i>Kepastian Tiket Pesawat PP</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-44"></i>Kepastian Booking Hotel</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Kepastian Visa Umroh</a>
          </li>

        </ul>
      </div>
      <div class="col-md-4 other_tours">
        <ul>
          <li><a href="#"><i class="icon_set_1_icon-1"></i>Transaksi yang aman dan mudah</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-4"></i>Berpengalaman dalam perjalanan umroh</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-30"></i>Dukungan pendamping ibadah</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Leader berpengalaman</a>
          </li>

        </ul>
      </div>
      <div class="col-md-4 other_tours">
        <ul>
          <li><a href="#"><i class="icon_set_1_icon-44"></i>Dukungan Provider Visa</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Jaringan Travel yang luas</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-30"></i>Asuransi Perjalanan</a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Dukungan informasi 24 Jam</a>
          </li>

        </ul>
      </div>

    </div>
    <!-- End row -->

    <div class="banner colored add_bottom_30">
      <h4>Temukan berbagai paket menarik <span>mulai dari IDR 22 JT</span></h4>
      <p>
        Beragam paket umroh & wisata kami sediakan untuk anda.
      </p>
      <%= link_to "Selengkapnya",
                  {controller: "umroh", action: "list"},
                  class: "btn_1 white"  %>

    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <p>
          <a href="#"><img src="/assets/img/why/onlinebooking.jpg" alt="Pic" class="img-responsive"></a>
        </p>
        <h4><span>Sistem Booking</span> online</h4>
        <p>
          Kami menyediakan sistem booking online yang memudahkan anda dalam bertransaksi dan mendapatkan layanan kami.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <p>
          <a href="#"><img src="/assets/img/why/ontime.jpg" alt="Pic" class="img-responsive"></a>
        </p>
        <h4><span>Kepastian</span> jadwal</h4>
        <p>
          Paket umroh yang kami dengan tanggal keberangkatan sesuai jadwal flight, sehingga memudahkan anda dalam pengurusan cuti dsb.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <p>
          <a href="#"><img src="/assets/img/why/bookflights.jpg" alt="Pic" class="img-responsive"></a>
        </p>
        <h4><span>Flights</span> booking</h4>
        <p>
          Kami memastikan anda mendapatkan tiket pesawat PP setelah pelunasan sesuai dengan tanggal keberangkatan.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <p>
          <a href="#"><img src="/assets/img/why/hotelbooking.jpg" alt="Pic" class="img-responsive"></a>
        </p>
        <h4><span>Reservasi</span> hotel</h4>
        <p>
          Kami memastikan jaminan booking hotel sesuai jadwal perjalanan ibadah umroh anda setelah pelunasan pembayaran.
        </p>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
<!-- End white_bg -->