<div class="container margin_60">

  <div class="main_title">
    <h2>Dukungan <span>Layanan</span> kami</h2>
    <p>
      Untuk mempermudah anda dalam bertransaksi kami memberikan layanan dukungan
    </p>
  </div>

  <div class="row">

    <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
      <div class="feature_home">
        <i class="icon_set_1_icon-41"></i>
        <h3><span>H24</span> Online Booking</h3>
        <p>
          Dengan layanan online booking, anda dengan mudah dapat memesan paket umroh kami secara online.
        </p>
        <a href="#" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
      <div class="feature_home">
        <i class="icon_set_1_icon-30"></i>
        <h3><span>+100</span> Partnership</h3>
        <p>
          Kami menjalin kemitraan dengan berbagai pihak (maskapai, provider, asosiasi dan perbankan) untuk memastikan perjalanan umroh anda.
        </p>
        <a href="#" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
      <div class="feature_home">
        <i class="icon_set_1_icon-57"></i>
        <h3><span>H24 </span> Support</h3>
        <p>
          Kami menyediakan layanan support 24 jam untuk informasi perjalan umroh anda via telp (office hour) dan email.
        </p>
        <a href="#" class="btn_1 outline">Read more</a>
      </div>
    </div>

  </div>
  <!--End row -->

  <hr>

  <div class="row">
    <div class="col-md-8 col-sm-6 hidden-xs">
      <img src="/assets/img/why/sabatonlinetravel.png" alt="Laptop" class="img-responsive laptop">
    </div>
    <div class="col-md-4 col-sm-6">
      <h3><span>Mulai bertransaksi</span> dengan Sabat Travel</h3>
      <p>
        Silahkan mulai booking paket perjalanan umroh anda dengan mudah.
      </p>
      <ul class="list_order">
        <li><span>1</span>Pilih paket sesuai tanggal keberangkatan</li>
        <li><span>2</span>Lakukan pembayaran sesuai paket yang anda pilih</li>
        <li><span>3</span>Siap berangkat umroh</li>
      </ul>
      <a href="/umroh/list" class="btn_1">Pesan sekarang</a>
    </div>
  </div>
  <!-- End row -->

</div>